@import "compass/reset";
@import "compass/css3";
@import "compass/layout/sticky-footer";
@import "compass/utilities/general/clearfix";

body {
    position: relative;
    overflow: hidden;
    background: #fcfcfc;
    width: 100%;
    font-size: 62.5%;
}
footer {
    /*@include sticky-footer(10%);
    height: 10%;
    width: 100%;
    background: #666;*/
}

/*
    _______________________________________________________
    
    Grids
    _______________________________________________________
    
*/

.content {
    width: 100%;
    margin: auto;
    position: relative;
}

.grid-6 {
    width: 100%;
    float: left;
}

.grid-4 {
    width: 64%;
    margin-right: 2%;
    float: left;
}

.grid-3 {
    width: 49%;
    margin-right: 2%;
    float: left;
}

.grid-2 {
    width: 32%;
    margin-right: 2%;
    float: left;
}

.grid-1 {
    width: 15%;
    margin-right: 2%;
    float: left;
}

.nrm {
    margin-right: 0;
    float: left;
}

/*
    _______________________________________________________
    
    Colors
    _______________________________________________________
    
*/

$bg: #0075a9;
$gray-blue: #9db5cb; 
$green-blue: #41a8b7;
$btn-blue: #6eccd8;
$font-yellow: #fdedaf;
$gray: #eee;
$gray2: #4b4b4b;

/* 
    _______________________________________________________
    
    fonts 
    _______________________________________________________
    
*/
a, img, div {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    text-decoration: none;
}

$heiti: "STHeiti", "SimHei";
$songti: "STSong", "SimSun";
$xisong: "LiSong Pro Light", "SimSun";

/* 
    _______________________________________________________
    
    iconfonts
    _______________________________________________________
    
*/

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-kwrole');
    src:url('fonts/icomoon.eot?#iefix-kwrole') format('embedded-opentype'),
        url('fonts/icomoon.woff?-kwrole') format('woff'),
        url('fonts/icomoon.ttf?-kwrole') format('truetype'),
        url('fonts/icomoon.svg?-kwrole#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e600";
}
.icon-location:before {
    content: "\e601";
}


/*
    _______________________________________________________
    
    Functions
    _______________________________________________________
    
*/

@mixin madeD($type, $value, $pvalue) {
    #{$type}: ($value/$pvalue)*100%;
}
@mixin fonts($value) {
    font-size: ($value/16);
}

.clearfix {
    @include clearfix;
}
.viewport, .start, .desc, .more, #loading {
    height: 100%;
    width: 100%;
}
#loading {
    background: #000;
    height: 9999px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}
.shadow {
    width: 100%;
    height: 100%;
    @include background-image(radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)));
}
.start {
    text-align: center;
    color: $gray-blue;
    @include background-image(radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)));

    .text {
        width: 100%;
        position: absolute;

        .title {
            @include fonts(74em);
            font-family: $heiti;
        }
        .subTitle {
            @include fonts(34em);
            font-family: $xisong;
        }
    }
    .start-c {
        width: 100%;
        position: absolute;

        .start-btn {
            display: block;
            margin: 0 auto;
            @include madeD(width, 285px, 1920px);
            @include fonts(50em);
            background: $bg;
            @include border-radius(5px);
            color: #fff;
            font-family: $heiti;
        }
    }
    .byWeilan {
        position: absolute;
        width: 100%;
        font-family: $heiti;
    }
}
.desc {
    background: $green-blue;
    overflow: hidden;

    .l-bar, .r-bar, .main {
        height: 100%;
    }
    .l-bar {
    }
    .r-bar {
        .location {
            margin-top: 20px;
            font-size: 5em;

            .icon-location {
                text-align: center;
                color: #fff;
            }
            .city {
                margin-top: 20px;
                width: 100%;
                text-align: center;
                color: #fff;
                font-family: $heiti;
            }
        }
        .search {
            margin-top: 40px;
            width: 100%;
            background: #fff;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
            border: 1px dashed #efcb3d;
            color: #efcb3d;
            font-size: 12px;
            line-height: 26px;
            padding-left: 5px;

            input {
                background: transparent;
                border: none;
                color: #efcb3d;
            }
        }
    }
    .main {

        .main-m {
            width: 100%;
            @include madeD(height, 744px, 1260px);
            border: 20px solid $gray;
            background: #f3f3f3;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
            margin-top: 124px;

            .chart {
                @include madeD(height, 576px, 692px);
                width: 100%;
            }
            .info {
                background: #f7f5f0;
                width: 80%;
                box-sizing:border-box;
                -moz-box-sizing:border-box;
                -webkit-box-sizing:border-box;
                border: 1px dashed #efcb3d;
                color: #efcb3d;
                font-family: $heiti;
                font-size: 16px;
                /*height: 30px;*/
                line-height: 30px;
                margin: 0 auto;
                text-align: center;
            }
        }
        .more-c {
            text-align: center;
            margin-top: 20px;
        }
        .more-btn {
            display: inline-block;
            width: 150px;
            font-size: 20px;
            height: 44px;
            line-height: 44px;
            @include border-radius(5px);
            color: #fff;
            font-family: $heiti;
            background: #6eccd8;
            cursor: pointer;
        }
        .byWeilan {
            margin-top: 20px;
            width: 100%;
            text-align: center;
            color: #fff;
            font-family: $heiti;
        }
    }
}
.more {

    .analysis, .news {
        width: 50%;
        height: 100%;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        padding: 90px 60px;
        float: left;
        position: relative;
        overflow: hidden;
    }
    .analysis {
        background: #f4f4f4;

        .value, .tips {
            width: 100%;
        }
        .value {
            height: 50%;

            .title-c {
                @include madeD(height, 106px, 630px);

                .title {
                    color: #4F4F4F;
                    @include fonts(43em);
                    font-family: $heiti;
                    float: left;
                    vertical-align: bottom;
                }
                .location {
                    float: right;
                    text-align: center;

                    .icon-location {
                        @include fonts(25em);
                        color: #fff;
                    }
                    .city {
                        color: #43adbe;
                        @include fonts(25em);
                    }
                }
            }
            .value-ul {
                border-bottom: 1px solid #e5e5e5;
            }
        }
        .tips {
            height: 50%;
            background: #ebeaea;

            .title {
                @include fonts(37em);
                font-family: Arial;
                font-weight: bold;
                color: #4F4F4F;
                border-bottom: 2px dashed #4F4F4F;
            }
        }
    }
    .news {
        background: #f1f1f1;

        .title {
            @include fonts(43em);
            color: #4F4F4F;
            font-family: $heiti;
            width: 100%;
            text-align: left;
            @include madeD(height, 102px, 1260px);
        }
        .news-ul {
            @include madeD(height, 866px, 1260px);

            li {
                width: 100%;
                height: 30%;
                margin-top: 2%;
                box-sizing:border-box;
                -moz-box-sizing:border-box;
                -webkit-box-sizing:border-box;
                border: 2px dashed #ebeaea;
                padding: 10px 15px;
                @include fonts(20em);
                overflow: hidden;

                .time {
                    color: #c3c2c2;
                    font-family: Arial;
                }
                .content {
                    margin-top: 10px;
                    color: #4F4F4F;

                    p {
                        line-height: 1.5;
                    }
                }
            }
        }
        .more-btn {
            @include madeD(width, 448px, 818px);
            height: 72px;
            background: #43adbe;
            color: #f4f4f4;
            font-family: $heiti;
            display: block;
            @include border-radius(5px);
            line-height: 72px;
            @include fonts(40em);
            text-align: center;
            margin: 40px auto 0 auto;
        }
    }
}

/*
    _______________________________________________________
    
    Responsive break-points 
    _______________________________________________________
    
*/


@media only screen and (max-height: 1920px) {
    @mixin cal-835($type, $value) {
        #{$type}: ($value/1260px)*960px;
    }

    .start {

        .text {
            @include cal-835(bottom, (61px+60px+30px+65px+112px));

            .title {
                opacity: 0;
                margin-left: -500px;
                margin-right: 5px;
                @include cal-835(margin-bottom, (43px));
            }
            .subTitle {
                opacity: 0;
                margin-left: 5px;
                margin-right: -500px;
            }
        }
        .start-c {
            @include cal-835(bottom, (61px+60px+30px));

            .start-btn {
                opacity: 0;
                width: 163px;
                height: 65px;
                line-height: 65px;
            }
        }
        .byWeilan {
            bottom: 60px;
        }
    }
}