/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/style.scss */
body {
  position: relative;
  overflow: hidden;
  background: #fcfcfc;
  width: 100%;
  font-size: 62.5%;
}

/* line 13, ../sass/style.scss */
footer {
  /*@include sticky-footer(10%);
  height: 10%;
  width: 100%;
  background: #666;*/
}

/*
    _______________________________________________________
    
    Grids
    _______________________________________________________
    
*/
/* line 28, ../sass/style.scss */
.content {
  width: 100%;
  margin: auto;
  position: relative;
}

/* line 34, ../sass/style.scss */
.grid-6 {
  width: 100%;
  float: left;
}

/* line 39, ../sass/style.scss */
.grid-4 {
  width: 64%;
  margin-right: 2%;
  float: left;
}

/* line 45, ../sass/style.scss */
.grid-3 {
  width: 49%;
  margin-right: 2%;
  float: left;
}

/* line 51, ../sass/style.scss */
.grid-2 {
  width: 32%;
  margin-right: 2%;
  float: left;
}

/* line 57, ../sass/style.scss */
.grid-1 {
  width: 15%;
  margin-right: 2%;
  float: left;
}

/* line 63, ../sass/style.scss */
.nrm {
  margin-right: 0;
  float: left;
}

/*
    _______________________________________________________
    
    Colors
    _______________________________________________________
    
*/
/* 
    _______________________________________________________
    
    fonts 
    _______________________________________________________
    
*/
/* line 91, ../sass/style.scss */
a, img, div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

/* line 95, ../sass/style.scss */
a {
  cursor: pointer;
}

/* 
    _______________________________________________________
    
    iconfonts
    _______________________________________________________
    
*/
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-kwrole");
  src: url("fonts/icomoon.eot?#iefix-kwrole") format("embedded-opentype"), url("fonts/icomoon.woff?-kwrole") format("woff"), url("fonts/icomoon.ttf?-kwrole") format("truetype"), url("fonts/icomoon.svg?-kwrole#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 122, ../sass/style.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 136, ../sass/style.scss */
.icon-happy:before {
  content: "\e602";
}

/* line 139, ../sass/style.scss */
.icon-smiley:before {
  content: "\e603";
}

/* line 142, ../sass/style.scss */
.icon-sad:before {
  content: "\e604";
}

/* line 145, ../sass/style.scss */
.icon-confused:before {
  content: "\e605";
}

/* line 148, ../sass/style.scss */
.icon-neutral:before {
  content: "\e606";
}

/* line 151, ../sass/style.scss */
.icon-wondering:before {
  content: "\e607";
}

/* line 154, ../sass/style.scss */
.icon-search:before {
  content: "\e600";
}

/* line 157, ../sass/style.scss */
.icon-location:before {
  content: "\e601";
}

/*
    _______________________________________________________
    
    Functions
    _______________________________________________________
    
*/
/* line 177, ../sass/style.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 180, ../sass/style.scss */
.viewport, .start, .transition, .desc, .more, #loading {
  height: 100%;
  width: 100%;
}

/* line 184, ../sass/style.scss */
#loading {
  background: #000;
  height: 9999px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}

/* line 192, ../sass/style.scss */
.shadow {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}

/* line 197, ../sass/style.scss */
.start {
  text-align: center;
  color: #9db5cb;
  background-image: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}
/* line 202, ../sass/style.scss */
.start .text {
  width: 100%;
  position: absolute;
}
/* line 206, ../sass/style.scss */
.start .text .title {
  font-size: 4.625em;
  font-family: "STHeiti", "SimHei";
}
/* line 210, ../sass/style.scss */
.start .text .subTitle {
  font-size: 2.125em;
  font-family: "LiSong Pro Light", "SimSun";
}
/* line 215, ../sass/style.scss */
.start .start-c {
  width: 100%;
  position: absolute;
}
/* line 219, ../sass/style.scss */
.start .start-c .start-btn {
  display: block;
  margin: 0 auto;
  width: 14.84375%;
  font-size: 3.125em;
  background: #0075a9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-family: "STHeiti", "SimHei";
}
/* line 230, ../sass/style.scss */
.start .byWeilan {
  position: absolute;
  width: 100%;
  font-family: "STHeiti", "SimHei";
}

/* line 236, ../sass/style.scss */
.transition {
  background: #0075a9;
  position: relative;
}
/* line 240, ../sass/style.scss */
.transition .stage {
  width: 1250px;
  height: 618px;
  margin: 0 auto;
  position: relative;
}
/* line 246, ../sass/style.scss */
.transition .stage .bg, .transition .stage .gas1, .transition .stage .gas2, .transition .stage .pipe1, .transition .stage .pipe2, .transition .stage .bubble1, .transition .stage .bubble2, .transition .stage .bubble3 {
  position: absolute;
}
/* line 249, ../sass/style.scss */
.transition .stage .bg {
  width: 1072px;
  height: 404px;
  top: 175px;
  left: 72px;
  background: url(../azure_png/stage.png) 0 0 no-repeat;
}
/* line 256, ../sass/style.scss */
.transition .stage .gas1 {
  width: 142px;
  height: 132px;
  top: 0px;
  left: 10px;
  background: url(../azure_png/animeSprite.png) 0 0 no-repeat;
}
/* line 263, ../sass/style.scss */
.transition .stage .gas2 {
  width: 73px;
  height: 49px;
  top: 83px;
  left: 146px;
  background: url(../azure_png/animeSprite.png) 0 -133px no-repeat;
}
/* line 270, ../sass/style.scss */
.transition .stage .pipe1 {
  width: 190px;
  height: 192px;
  top: 139px;
  left: 49px;
  background: url(../azure_png/animeSprite.png) 0 -183px no-repeat;
}
/* line 277, ../sass/style.scss */
.transition .stage .pipe2 {
  width: 85px;
  height: 163px;
  top: 353px;
  left: 74px;
  background: url(../azure_png/animeSprite.png) 0 -449px no-repeat;
}
/* line 284, ../sass/style.scss */
.transition .stage .bubble1 {
  width: 25px;
  height: 25px;
  top: 262px;
  left: 509px;
  background: url(../azure_png/animeSprite.png) 0 -375px no-repeat;
}
/* line 291, ../sass/style.scss */
.transition .stage .bubble2 {
  width: 16px;
  height: 16px;
  top: 261px;
  left: 540px;
  background: url(../azure_png/animeSprite.png) 0 -400px no-repeat;
}
/* line 298, ../sass/style.scss */
.transition .stage .bubble3 {
  width: 33px;
  height: 33px;
  top: 220px;
  left: 542px;
  background: url(../azure_png/animeSprite.png) 0 -416px no-repeat;
}
/* line 306, ../sass/style.scss */
.transition .footer {
  position: absolute;
  width: 100%;
  bottom: 30px;
}
/* line 311, ../sass/style.scss */
.transition .footer .print {
  width: 220px;
  height: 75px;
  line-height: 75px;
  margin: 0 auto;
  display: block;
  background: #43adbe;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 320, ../sass/style.scss */
.transition .footer .print i {
  width: 46px;
  height: 50px;
  display: block;
  float: left;
  margin-left: 15px;
  margin-top: 12px;
  background: url(../azure_png/i.png) 0 0 no-repeat;
}
/* line 329, ../sass/style.scss */
.transition .footer .print span {
  float: left;
  display: block;
  font-size: 30px;
  margin-left: 15px;
  font-family: "STHeiti", "SimHei";
}
/* line 337, ../sass/style.scss */
.transition .footer .byWeilan {
  margin: 25px auto 0 auto;
  font-family: "STHeiti", "SimHei";
  color: #9db5cb;
  text-align: center;
}

/* line 345, ../sass/style.scss */
.desc {
  background: #41a8b7;
  overflow: hidden;
}
/* line 349, ../sass/style.scss */
.desc .l-bar, .desc .r-bar, .desc .main {
  height: 100%;
}
/* line 355, ../sass/style.scss */
.desc .r-bar .location {
  margin-top: 20px;
  font-size: 5em;
}
/* line 359, ../sass/style.scss */
.desc .r-bar .location .icon-location {
  text-align: center;
  color: #fff;
}
/* line 363, ../sass/style.scss */
.desc .r-bar .location .city {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: "STHeiti", "SimHei";
}
/* line 371, ../sass/style.scss */
.desc .r-bar .search {
  margin-top: 40px;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px dashed #efcb3d;
  color: #efcb3d;
  font-size: 12px;
  line-height: 26px;
  padding-left: 5px;
}
/* line 384, ../sass/style.scss */
.desc .r-bar .search input {
  background: transparent;
  border: none;
  color: #efcb3d;
}
/* line 393, ../sass/style.scss */
.desc .main .main-m {
  width: 100%;
  height: 59.04762%;
  border: 20px solid #eeeeee;
  background: #f3f3f3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 124px;
}
/* line 403, ../sass/style.scss */
.desc .main .main-m .chart {
  height: 83.23699%;
  width: 100%;
}
/* line 407, ../sass/style.scss */
.desc .main .main-m .info {
  background: #f7f5f0;
  width: 80%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px dashed #efcb3d;
  color: #efcb3d;
  font-family: "STHeiti", "SimHei";
  font-size: 16px;
  /*height: 30px;*/
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
}
/* line 423, ../sass/style.scss */
.desc .main .more-c {
  text-align: center;
  margin-top: 20px;
}
/* line 427, ../sass/style.scss */
.desc .main .more-btn {
  display: inline-block;
  width: 150px;
  font-size: 20px;
  height: 44px;
  line-height: 44px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-family: "STHeiti", "SimHei";
  background: #6eccd8;
  cursor: pointer;
}
/* line 439, ../sass/style.scss */
.desc .main .byWeilan {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: "STHeiti", "SimHei";
}

/* line 450, ../sass/style.scss */
.more .analysis, .more .news {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 90px 60px;
  float: left;
  position: relative;
  overflow: hidden;
}
/* line 461, ../sass/style.scss */
.more .analysis {
  background: #f4f4f4;
}
/* line 464, ../sass/style.scss */
.more .analysis .value, .more .analysis .tips {
  width: 100%;
}
/* line 467, ../sass/style.scss */
.more .analysis .value {
  height: 50%;
}
/* line 470, ../sass/style.scss */
.more .analysis .value .title-c {
  height: 16.8254%;
}
/* line 473, ../sass/style.scss */
.more .analysis .value .title-c .title {
  color: #4F4F4F;
  font-size: 2.6875em;
  font-family: "STHeiti", "SimHei";
  float: left;
  vertical-align: bottom;
}
/* line 480, ../sass/style.scss */
.more .analysis .value .title-c .location {
  float: right;
  text-align: center;
}
/* line 484, ../sass/style.scss */
.more .analysis .value .title-c .location .icon-location {
  font-size: 1.5625em;
  color: #fff;
}
/* line 488, ../sass/style.scss */
.more .analysis .value .title-c .location .city {
  color: #43adbe;
  font-size: 1.5625em;
}
/* line 494, ../sass/style.scss */
.more .analysis .value .value-ul {
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  height: 151px;
}
/* line 499, ../sass/style.scss */
.more .analysis .value .value-ul li {
  color: #4F4F4F;
  font-family: Silom;
  position: relative;
  padding-left: 4px;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  font-size: 30px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}
/* line 512, ../sass/style.scss */
.more .analysis .value .value-ul li .cricle {
  width: 30px;
  height: 30px;
  display: inline-block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
/* line 518, ../sass/style.scss */
.more .analysis .value .value-ul li .type {
  display: inline-block;
  margin-left: 10px;
}
/* line 522, ../sass/style.scss */
.more .analysis .value .value-ul li .value {
  position: absolute;
  display: block;
  padding: 0 4px;
  right: 0;
  top: 0;
  line-height: 30px;
  z-index: 1;
  text-align: right;
  background: #f4f4f4;
  width: auto;
  height: 35px;
}
/* line 535, ../sass/style.scss */
.more .analysis .value .value-ul li .dashed_line {
  height: 0;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin: 0 4px;
  border-bottom: 2px dashed #333;
  vertical-align: middle;
}
/* line 546, ../sass/style.scss */
.more .analysis .value .degree {
  width: 100%;
  text-align: right;
  margin-top: 10px;
}
/* line 551, ../sass/style.scss */
.more .analysis .value .degree .face {
  color: #f7da93;
  font-size: 2.5em;
}
/* line 555, ../sass/style.scss */
.more .analysis .value .degree .face-desc {
  font-size: 2.1875em;
  color: #f99218;
  background: #f7da93;
  margin-left: 10px;
  padding: 2px;
  font-family: "STHeiti", "SimHei";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 566, ../sass/style.scss */
.more .analysis .tips {
  height: 50%;
  background: #ebeaea;
}
/* line 570, ../sass/style.scss */
.more .analysis .tips .title {
  font-size: 2.3125em;
  font-family: Arial;
  font-weight: bold;
  color: #4F4F4F;
  border-bottom: 2px dashed #4F4F4F;
}
/* line 579, ../sass/style.scss */
.more .news {
  background: #f1f1f1;
}
/* line 582, ../sass/style.scss */
.more .news .title {
  font-size: 2.6875em;
  color: #4F4F4F;
  font-family: "STHeiti", "SimHei";
  width: 100%;
  text-align: left;
  height: 8.09524%;
}
/* line 590, ../sass/style.scss */
.more .news .news-ul {
  height: 68.73016%;
}
/* line 593, ../sass/style.scss */
.more .news .news-ul li {
  width: 100%;
  height: 30%;
  margin-top: 2%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px dashed #ebeaea;
  padding: 10px 15px;
  font-size: 1.25em;
  overflow: hidden;
}
/* line 605, ../sass/style.scss */
.more .news .news-ul li .time {
  color: #c3c2c2;
  font-family: Arial;
}
/* line 609, ../sass/style.scss */
.more .news .news-ul li .content {
  margin-top: 10px;
  color: #4F4F4F;
}
/* line 613, ../sass/style.scss */
.more .news .news-ul li .content p {
  line-height: 1.5;
}
/* line 619, ../sass/style.scss */
.more .news .more-btn {
  width: 54.76773%;
  height: 72px;
  background: #43adbe;
  color: #f4f4f4;
  font-family: "STHeiti", "SimHei";
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  line-height: 72px;
  font-size: 2.5em;
  text-align: center;
  margin: 40px auto 0 auto;
}

/*
    _______________________________________________________
    
    Responsive break-points 
    _______________________________________________________
    
*/
@media only screen and (max-height: 1920px) {
  /* line 651, ../sass/style.scss */
  .start .text {
    bottom: 249.90476px;
  }
  /* line 654, ../sass/style.scss */
  .start .text .title {
    opacity: 0;
    margin-left: -500px;
    margin-right: 5px;
    margin-bottom: 32.7619px;
  }
  /* line 660, ../sass/style.scss */
  .start .text .subTitle {
    opacity: 0;
    margin-left: 5px;
    margin-right: -500px;
  }
  /* line 666, ../sass/style.scss */
  .start .start-c {
    bottom: 115.04762px;
  }
  /* line 669, ../sass/style.scss */
  .start .start-c .start-btn {
    opacity: 0;
    width: 163px;
    height: 65px;
    line-height: 65px;
  }
  /* line 676, ../sass/style.scss */
  .start .byWeilan {
    bottom: 60px;
  }
}
