/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
    border:0 none;
    margin:0;padding:0;
}

/*for media query width*/
$width-middle: 1025px;
$width-min: 640px;
$margin-1025: 50px;
$margin-640: 10px;

/*colors*/
$headerblue: #e6f0f5;
$headertext: #62c2ee;
$stage: #4eb5db;
$orangetext: #efd15a;

/*iconfonts*/
@font-face {
    font-family: 'iconfont';
    src: url('http://at.alicdn.com/t/font_1395236431_3022747.eot'); /* IE9*/
    src: url('http://at.alicdn.com/t/font_1395236431_3022747.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('http://at.alicdn.com/t/font_1395236431_388055.woff') format('woff'), /* chrome、firefox */
    url('http://at.alicdn.com/t/font_1395236431_187665.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('http://at.alicdn.com/t/font_1395236431_6513412.svg#iconfont') format('svg'); /* iOS 4.1- */
}

/*css3 animation*/



/*common*/

.hidden {
    display: none;
}

header {
    background: $headerblue;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    .title {
        text-align: left;
    }
    .knowledge, .app, .about {
        text-align: right;
    }
    a {
        color: $headertext;
        text-decoration: none;
    }
}
article {
    .display {
        width: 100%;
        background: $stage;
        position: relative;
        overflow: hidden;
        color: #fff;

        .w-header {
            width: 100%;
            position: relative;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: horizontal;
            -webkit-box-pack: center;
            -webkit-box-align: center;

            .temp, .location {
                text-align: right;
            }
            .w-icon {
                font-family: iconfont;
                font-weight: normal;
                -webkit-font-smoothing: antialiased;
            }
        }
        .pm25 {
            width: 100%;
            text-align: center;

            .title {
                color: #fff;
            }
            .value {
                color: $orangetext;
            }
        }
        .info, .forecast {
            text-align: center;
            width: 100%;

            em {
                display: inline-block;
            }
        }
        .stage {
            width: 100%;
            position: relative;
            -webkit-box-pack: center;

            .background {
                position: relative;
                width: 100%;
                height: 622px;
                background: url(http://strip.taobaocdn.com/tfscom/T1.lqnFu0fXXb1upjX.jpg) top center no-repeat;
            
                .housel, .houser {
                    position: absolute;
                    width: 655px;
                    height: 337px;
                    top: 103px;
                }
                .housel {
                    left: 0;
                    background: url(http://strip.taobaocdn.com/tfscom/T1D3OnFppgXXb1upjX.jpg) 0 0 no-repeat;
                }
                .houser {
                    right: 0;
                    background: url(http://strip.taobaocdn.com/tfscom/T1D3OnFppgXXb1upjX.jpg) 0 -440px no-repeat;
                }
            }
            .phone {
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -560px;
                width: 1121px;
                height: 532px;
                background: url(http://strip.taobaocdn.com/tfscom/T1wwmjFBJcXXb1upjX.jpg) 0 0 no-repeat;
            
                .pm25-charts {
                    background: #000;
                    width: 720px;
                    height: 420px;
                    position: relative;
                    margin: 43px 0 0 206px;
                }
            }
            .toggle-charts {
                position: absolute;
                width: 80px;
                height: 30px;
                right: 202px;
                top: 89px;

                .onoffswitch {
                    position: relative; width: 80px;
                    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
                }
                .onoffswitch-checkbox {
                    display: none;
                }
                .onoffswitch-label {
                    display: block; overflow: hidden; cursor: pointer;
                    border: 2px solid #999999; border-radius: 20px;
                }
                .onoffswitch-inner {
                    width: 200%; margin-left: -100%;
                    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
                    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
                }
                .onoffswitch-inner > div {
                    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
                    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
                    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
                }
                .onoffswitch-inner .onoffswitch-active {
                    padding-left: 10px;
                    background-color: #2FCCFF; color: #FFFFFF;
                }
                .onoffswitch-inner .onoffswitch-inactive {
                    padding-right: 10px;
                    background-color: #EEEEEE; color: #999999;
                    text-align: right;
                }
                .onoffswitch-switch {
                    width: 18px; margin: 6px;
                    background: #FFFFFF;
                    border: 2px solid #999999; border-radius: 20px;
                    position: absolute; top: 0; bottom: 0; right: 47px;
                    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
                    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
                }
                .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
                    margin-left: 0;
                }
                .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
                    right: 0px; 
                }
            }
        }
    }
}

/*media query*/
@media only screen and (min-width: $width-middle) {

    header {
        font-size: 20px;
        height: 72px;
        line-height: 72px;

        .title {
            -webkit-box-flex: 11;
            margin-left: $margin-1025;
        }
        .knowledge, .app, .about {
            -webkit-box-flex: 1;
        }
        .about {
            margin-right: $margin-1025;
        }
    }
    article {
        .display {
            height: 1120px;

            .w-header {
                height: 112px;
                width: 100%;
                -webkit-box-pack: end;

                .weather {
                    height: 112px - 14px;
                    width: 320px - 76px - 32px;
                    padding: 14px 32px 0 0;

                    .temp {
                        font-size: 28px;
                        height: 47px;
                        line-height: 47px;
                    }
                    .location {
                        font-size: 19px;
                        height: 37px;
                        line-height: 37px;
                    }
                }
                .w-icon {
                    margin-right: $margin-1025;
					width: 76px;
					height: 76px;
					font-size: 76px;
                }
            }
            .pm25 {
                width: 100%;
                height: 124px;
                text-align: center;
                margin-top: -16px;

                .title {
                    color: #fff;
                    height: 31px;
                    line-height: 31px;
                    font-size: 28px;
                }
                .value {
                    color: $orangetext;
                    height: 94px;
                    line-height: 94px;
                    font-size: 83px;
                }
            }
            .info, .forecast {
                text-align: center;
                height: 70px;
                line-height: 70px;
                font-size: 38px;
                width: 100%;

                em {
                    display: inline-block;
                    border-bottom: 3px solid $orangetext;
                }
            }
            .info {
                margin-top: 114px;
            }
            .stage {
                width: 100%;
                height: 622px;
                position: relative;
                -webkit-box-pack: center;
                margin-top: 40px;

                .background {
                    position: relative;
                    width: 100%;
                    height: 622px;
                    background: url(http://strip.taobaocdn.com/tfscom/T1.lqnFu0fXXb1upjX.jpg) top center no-repeat;
                
                    .housel, .houser {
                        position: absolute;
                        width: 655px;
                        height: 337px;
                        top: 103px;
                    }
                    .housel {
                        left: 5%;
                        background: url(http://strip.taobaocdn.com/tfscom/T1D3OnFppgXXb1upjX.jpg) 0 0 no-repeat;
                    }
                    .houser {
                        right: 5%;
                        background: url(http://strip.taobaocdn.com/tfscom/T1D3OnFppgXXb1upjX.jpg) 0 -440px no-repeat;
                    }
                }
                .phone {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin-left: -560px;
                    width: 1121px;
                    height: 532px;
                    background: url(http://strip.taobaocdn.com/tfscom/T1wwmjFBJcXXb1upjX.jpg) 0 0 no-repeat;
                
                    .pm25-charts {
                        background: #000;
                        width: 720px;
                        height: 420px;
                        position: relative;
                        margin: 43px 0 0 206px;
                    }
                }

            }
        }
        .anti {
            background: #f5f5f5;
            height: 1224px;

            .header {
                margin: 0 auto;
                padding-top: 102px;
                height: 136px;
                width: 426px;
                position: relative;
                overflow: hidden;

                img {
                    height: 136px;
                    width: 140px;
                }
                span {
                    position: absolute;
                    right: 0;
                    top: 140px;
                    font-size: 50px;
                    height: 106px;
                    line-height: 106px;
                    color: #acacac;
                    margin-left: 60px;
                }
            }
            .badges {
                height: 156px;
                width: 836px;
                margin: 172px auto 0 auto;
                position: relative;
                overflow: hidden;

                .badge {
                    position: relative;
                    overflow: hidden;
                    display: inline-block;
                    margin-right: 66px;
                    width: 156px;
                    height: 156px;

                    .animation {
                        position: absolute;
                        top: 0;
                        left: 0; 
                        width: 156px;
                        height: 156px;
                        background: url(./../azure_png/illustration.png) -2px -2px no-repeat;
                    }
                }
            }
            .knowledge {
                width: 1025px;
                padding: 50px;
                margin: 172px auto;
                text-align: left;
                font-size: 32px;

                h3 {
                    font-weight: bold;
                    color: #008bb5;
                }
                p {
                    margin-top: 36px;
                    color: #626262;
                    line-height: 50px;
                }
            }
        }
        .switch {
            background: #4eb5db;
        }
        .about {
            background: #f5f5f5;
            height: 1144px;

            .center {
                width: 1025px;
                height: 1144px;
                margin: 0 auto;
                position: relative;
                overflow: hidden;
            }
            .a-con {
                width: 388px;
                margin-left: 115px;
                text-align: center;

                .title {
                    margin-top: 192px;
                    font-size: 51px;
                    color: #c1c3c4;

                    em {
                        color: #008bb5;
                    }
                }
                .desc {
                    margin-top: 70px;
                    font-size: 22px;
                    color: #06122a;
                }
                .download {
                    .title {
                        margin-top: 43px;
                        font-size: 22px;
                    }
                    .ios, .android {
                        display: block;
                        width: 265px;
                        height: 71px;
                        margin: 10px auto;
                        overflow: hidden;
                    }

                    .ios {
                        background: url(./../azure_png/download.png) 0 0 no-repeat
                    }
                    .android {
                        background: url(./../azure_png/download.png) 0 -78px no-repeat
                    }
                }
            }
            .phone {
                position: absolute;
                right: 20px;
                top: 10px;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    header {
        /*display: none;*/
        font-size: 20px;
        height: 72px;
        line-height: 72px;

        .title {
            -webkit-box-flex: 11;
            margin-left: $margin-640;
        }
        .knowledge, .app, .about {
            -webkit-box-flex: 1;
        }
        .about {
            margin-right: $margin-640;
        }
    }
    article {
        .display {
            /*display: none;*/
            height: 720px;

            .w-header {
                height: 112px;
                width: 100%;
                -webkit-box-pack: end;

                .weather {
                    height: 112px - 14px;
                    width: 320px - 76px - 32px;
                    padding: 14px 32px 0 0;

                    .temp {
                        font-size: 28px;
                        height: 47px;
                        line-height: 47px;
                    }
                    .location {
                        font-size: 19px;
                        height: 37px;
                        line-height: 37px;
                    }
                }
                .w-icon {
                    margin-right: $margin-1025;
                    width: 76px;
                    height: 76px;
                    font-size: 76px;
                }
            }
            .pm25 {
                width: 100%;
                height: 124px;
                text-align: center;
                margin-top: -16px;

                .title {
                    color: #fff;
                    height: 31px;
                    line-height: 31px;
                    font-size: 28px;
                }
                .value {
                    color: $orangetext;
                    height: 94px;
                    line-height: 94px;
                    font-size: 83px;
                }
            }
            .info, .forecast {
                text-align: center;
                height: 70px;
                line-height: 70px;
                font-size: 38px;
                width: 100%;

                em {
                    display: inline-block;
                    border-bottom: 3px solid $orangetext;
                }
            }
            .info {
                margin-top: 114px;
            }
            .stage {
                width: 100%;
                height: 622px;
                position: relative;
                -webkit-box-pack: center;
                margin-top: 40px;

                .background {
                    position: relative;
                    width: 100%;
                    height: 622px;
                    background: url(http://strip.taobaocdn.com/tfscom/T1.lqnFu0fXXb1upjX.jpg) top center no-repeat;
                
                    .housel, .houser {
                        position: absolute;
                        width: 655px;
                        height: 337px;
                        top: 103px;
                    }
                    .housel {
                        left: 0;
                        background: url(http://strip.taobaocdn.com/tfscom/T1D3OnFppgXXb1upjX.jpg) 0 0 no-repeat;
                    }
                    .houser {
                        right: 0;
                        background: url(http://strip.taobaocdn.com/tfscom/T1D3OnFppgXXb1upjX.jpg) 0 -440px no-repeat;
                    }
                }
                .phone {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin-left: -560px;
                    width: 1121px;
                    height: 532px;
                    background: url(http://strip.taobaocdn.com/tfscom/T1wwmjFBJcXXb1upjX.jpg) 0 0 no-repeat;
                
                    .pm25-charts {
                        background: #000;
                        width: 720px;
                        height: 420px;
                        position: relative;
                        margin: 43px 0 0 206px;
                    }
                }
            }
        }
    }
}